* {
    margin: 0;
    padding: 0;
}

body {
      width: auto;
      height: 100%;
      background: var(--primary-color);
}

:root {
    --primary-color: #d5d5d5;
    --seconadry-color: #3e3d3d;    
}

.dark-mode {
    --primary-color: #3e3d3d;
    --seconadry-color: #d5d5d5;
}

.logo {
    width: 200px;
    cursor: pointer;
}

#icon {
    width: 30px;
    cursor: pointer;
}

.back {
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    font-family: sans-serif;
    position: relative;
}

nav {
    width:  90%;
    margin: auto;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.4);
}

nav ul {
    flex: 1;
    text-align: right;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    padding: 30px 30px;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
    font-weight: 500;
    cursor: pointer;
}

nav ul li::after {
    content: ' ';
    background: #97978D;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate (-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s  ;
}

nav ul li:hover {
    color: #3e3d3d;
}

nav ul li:hover::after {
    top: 0%;
    opacity: 1;
}

nav ul li a {
    text-decoration: none;
    color: var(--seconadry-color);
    
}

nav ul li a:hover {
    color: #494942;
}

.info {
    margin-left: 8%;
    margin-top: 15%;
}


.info h1 {
    font-size: 70px;
    color: var(--seconadry-color);
    margin-bottom: 20px;
}

.firstname {
    color: #97978D;
}

.info p {
    color: var(--seconadry-color);
    line-height: 22px;
}

.info a {
    background: var(--seconadry-color);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}


.social-links {
    margin-left: 8%;
    margin-top: 150px;
}

.social-links a {
    font-size: 30px;
    color: var(--seconadry-color);
    margin-right: 20px;
}

.social-links a:hover {
    color: #97978D;
}

/* botton animation */
.button {
    animation: wiggle 2s linear infinite;
  }

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-8deg);
    }
    20% {
      transform: rotateZ(8deg);
    }
    25% {
      transform: rotateZ(-8deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

  /* scroll bar */
  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: #97978D;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(#97978D, #3e3d3d);
    border-radius: 10px;
  }


  /* preloader */
  #preloader {
    background: #d5d5d5 url(./logo/preloader.gif) no-repeat center center;
    background-size: 15%;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 100;
  }


/* responsive */
  @media screen and (max-width: 600px) {
    body {
      width: auto;
      height: auto;
      background: var(--primary-color);
    }
    .back {
      /* width: auto; */
      height: 100%;
      background: var(--primary-color);
      font-family: sans-serif;
      position: relative;
    }
    nav {
      width:  100%;
      height: 50px;
      top: 0;
      bottom: auto;
      padding: 0px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.4);
      box-sizing: border-box;
    }
    .logo {
      width: 50px;
      
    }
    nav ul li {
      font-size: 60%;
      display: inline-block;
      list-style: none;
      margin: 3px 3px;
      padding: 1px 1px;
      position: relative;
      z-index: 2;
      transition: color 0.5s;
      font-weight: 500;
      cursor: pointer;
    }
    .info h1 {
      font-size: 43px;
      color: var(--seconadry-color);
    }
    .info p {
      font-size: 15px;
      color: var(--seconadry-color);
      line-height: 20px;
      margin-right: 10%;
    }
    #icon {
      width: 20px;
      cursor: pointer;
      margin-left: auto;
    }
    .social-links { 
      justify-content: center;
      margin-left: 25%;
      margin-top: 450px;
    }
    .button a {
      font-size: 80%;
      margin-left: 25%;
    }
  }
